/*main elements */
body {
  background-color: lightgray;
}

/* wrapper and overlay */

.wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
}
.bigTextHolder {
	width: 100%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: fixed;
	text-align: center;
	top: 50%;
}


/* texts */

.everestTitle, .subheadingTitle {
  font-family: "Arial Black", Gadget, sans-serif;
  color: white;
  margin: 0;
}
.everestTitle {
  opacity: 0;
  font-size: 10vw;
  letter-spacing: 3vw;
}
.subheadingTitle {
  opacity: 0;
  font-size: 3vw;
  letter-spacing: 1vw;
  color: black;
}

/* image/videos */

.background {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
}
.snowVideo, .snowFallback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* animations */

.scaleOffscreen, .scaleOffscreen-appear {
  opacity: 0.1;
}
.scaleOffscreen-appear.scaleOffscreen-appear-active {
  opacity: 1;
  transform: scale(1.25) translateY(-25%);
  transition: all 10000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.scaleOffscreen-enter-done {
  opacity: 1;
  transform: scale(1.25) translateY(-25%);
}
.fade, .fade-enter {
  opacity: 0;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: all 1000ms;
}
.fade-enter-done {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: all 1000ms;
}
.fade-exit-done {
  opacity: 0;
  display: none;
}



.subtitleFade, .subtitleFade-enter-active {
}
.subtitleFade-enter-done {
  opacity: 1;
  transition: all 2000ms ease-out;
}

