/*main elements */
body {
  background-color: lightgray;
}

/* wrapper and overlay */

.wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
}
.bigTextHolder {
	width: 100%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: fixed;
	text-align: center;
	top: 50%;
}
.slideTextHolder {
  width: 100%;
  left: 10%;
  position: fixed;
  top: 45%;
  z-index: 1;
}
.slideTextHolder {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.slideInHolder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 150%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* texts */

.everestTitle, .subheadingTitle {
  font-family: "Arial Black", Gadget, sans-serif;
  color: white;
  margin: 0;
}
.everestTitle {
  opacity: 0;
  font-size: 10vw;
  letter-spacing: 3vw;
}
.subheadingTitle {
  opacity: 0;
  font-size: 3vw;
  letter-spacing: 1vw;
  color: lightblue;
}
.slideText {
  color: white;
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 .5vw;
}
.slideTextBold .slideText {
  font-size: 3vw;
  color: lightsalmon;
}
.attrHeader {
  font-size: 5vw;
  margin: .5vw 0;
  color: gold;
}
.attrSub {
  font-size: 3vw;
  margin: .5vw 0;
  color: lightblue;
}
.attribution {
  color: aquamarine;
  font-size: 1vw;
}

/* image/videos */

.background {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
}
.snowVideo, .snowFallback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* animations */

.scaleOffscreen, .scaleOffscreen-appear {
  opacity: 0.1;
}
.scaleOffscreen-appear.scaleOffscreen-appear-active {
  opacity: 1;
  transform: scale(1.25) translateY(-25%);
  transition: all 10000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.scaleOffscreen-enter-done {
  opacity: 1;
  transform: scale(1.25) translateY(-25%);
}
.fade, .fade-enter {
  opacity: 0;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: all 1000ms;
}
.fade-enter-done {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: all 1000ms;
}
.fade-exit-done {
  opacity: 0;
  display: none;
}
.slideIn, .slideIn-appear {
}
.slideIn-appear.slideIn-appear-active {
  top: 0;
  transition: all 2000ms;
}
.slideIn-enter-done, .slideIn-exit {
  top: 0;
}
.slideIn-exit.slideIn-exit-active {
  top: 0;
  bottom: 150%;
  transition: all 2000ms;
}
.slideIn-exit-done {
  top: 0;
  bottom: 150%;
}



.subtitleFade, .subtitleFade-enter-active {
}
.subtitleFade-enter-done {
  opacity: 1;
  transition: all 2000ms ease-out;
}

